*{
    margin: 0;
    padding: 0;
}
body{
    font: 400 14px/1.5 'Hind', sans-serif;
    color: #565655;
    margin:0 auto;
}
ul{
    list-style: none;
}
ul li{
    display: inline-block;
}
a{
    text-decoration: none;
    color: #333;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;

}
a:hover{
    color: #bd2631;
}
.clearfix:after,
.clearfix:before{
    display: table;
    content: '';
}
.clearfix:after{
    clear: both;
}
/*    HEADER   */
header {
    position: relative;
}
.contacts-information{
    background: #ededed;
    padding: 10px 139px 15px 139px;
}
.address-block{
    float: left;
}
.address-block div{
    display: inline-block;
    margin-right: 33px;
}
.social-icons{
    float: right;
    margin-top: 7px;
}
.social-icons ul li{
    margin-left: 22px;
}
.social-icons ul li:first-child{
    margin-left: 0;
}
.fa-phone,
.fa-location-arrow{
    color: #000;
    margin-right: 4px;
    vertical-align: middle;
}
.fa-phone:before, .fa-location-arrow:before {
    font-size: 22px;
}
.city{
    background: #000;
    color: #fff;
    border-radius: 3px;
    padding: 7px 14px;
}
.fa-angle-down{
    margin-left: 15px;
    font-size: 18px;
    margin-top: 2px;
}
.mobile-menu{
    color: #fff;
    font-size: 24px;
    margin-top: 20px;
    display: none;
    cursor: pointer;
}

/****   BLOCK2   */
.logo-section{
    padding: 29px 133px;
    background: #fff;
}
.logo{
    float: left;
    margin-top: 3px;
    margin-bottom: -3px;
}
.static-info{
    float: right;
    margin-top: 17px;
}
.title{
    color: #000;
    font-weight: 600;
    font-size: 15px;
}
.static-info li p:first-of-type{
    float: left;
    margin-right: 15px;
    color: #000;
    font-size: 18px;

}
.static-info li p:last-of-type{
    display: inline-block;
}
.static-info p > span{
    display: block;
}
.static-info ul li {
    border-right: 1px solid #e6e6e6;
    margin-right: 14px;
}
.static-info ul li:nth-child(1){
    padding-right: 39px;
}
.static-info ul li:nth-child(2){
    margin-right: -21px;
}
.static-info ul li:nth-child(3){
    padding-right: 35px;
    margin-right: 20px;
}
.static-info ul li:last-of-type{
    border-right: none;
    padding-right: 0;
    margin-right: -2px;
    margin-left: 36px;
}
/*******************  */

/*  BLOCK3  */


.navigation{
    background: #000;
    padding: 0 127px;
    position: absolute;
    opacity: 0.8;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
}
.bars {
    display: none;
}
.fa-bars:before {
    font-size: 20px;
}
.navigation nav{
    float: left;
}
nav li a{
    color: #fff;
    font-size: 16px;
    padding: 25px 15px 16px;
    display: inline-block;
    text-transform: uppercase;
    border-bottom: 7px solid transparent;
}
nav li a:hover{
    color: #fff;
    border-bottom: 6px solid #bd2631;
}
/*.current a{*/
    /*border-bottom: 6px solid #bd2631;*/
/*}*/
.search{
    float: right;
    margin-right: 1.75%;
    margin-top: 3px;
    color: #fff;
    line-height: 3.5;
    font-size: 19px;
}
/*****************/

.clear{
    clear: both;
}

/*  SLOGAN  */
.slogan{
    position: relative;
}
.slogan img{
    width: 100%;
    height: auto;
 }
.slidertext{
    position: absolute;
    left: 9.6%;
    top: 44%;
    line-height: 3.3em;
}
.sl1{
    font-size: 32px;
    color: #bf232c;
    letter-spacing: 0.86px;
}
.sl2{
    font-size: 44.5px;
    color: #ffffff;
}
.sl3{
    font-size: 24.5px;
    color: #ffffff;
    text-transform: uppercase;
}
.arrow_left{
    position: absolute;
    left: 4%;
    top: 50%;
}

.arrow_left i, .arrow_right i {
    color: #fff;
    font-size: 50px;
}

.arrow_right{
    position: absolute;
    right: 1.2%;
    top: 50%;
}
/*.request*/
.request{
    position: relative;
    margin-top: -7px;
    padding-top: 1.4%;
    padding-right: 2.5%;
    padding-left: 2%;
    padding-bottom: 2.15%;
    background: #bd2631;
    color: white;
    line-height: 2.4em;
}
.button {
    border: 1px solid white;
    border-radius: 4px;
    background-color: white;
    color: black;
    float: right;
    width: 138px;
    height: 50px;
    box-sizing: border-box;
    padding: 8px 0 0;
    margin: 19px 7% 1px 1px;
}
.button a {
    display: block;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    font-weight: bolder;
}
.request_text{
    float: left;
    margin-top: 1%;
    margin-left: 7%;
}
.re_text1 {
    font-size: 2.2em;
    margin-left: 3%;
    letter-spacing: -0.5px;
}
.re_text2 {
    font-size: 1.5em;
    margin-left: 3%;
    width: 94%;
    white-space: nowrap;
    letter-spacing: 1.12px;
}

/*SLIDER*/

.slider{
    position: relative;
    background-color: #000000;
    width: 100%;
}
.slider :nth-child(3) {
    display: none;
}
.slider {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: row;
}
.slider1{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: row;
    width: 50%;
}
.slider2 {
    width: 50%;
}
.slider31 {
    width: 50%;
    background-color: white;
    background-image: url("../img/iconeacum.png");
    background-repeat: no-repeat;
    background-position: center;
}.slider32 {
    width: 50%;
    background-color: white;
    background-image: url("../img/repair.png");
    background-repeat: no-repeat;
    background-position: center;
}.slider33 {
    width: 50%;
    background-color: #bd2631;
    background-image: url("../img/trash.png");
    background-repeat: no-repeat;
    background-position: center;
}
.slider1 img, .slider2 img {
    width: 100%;
    height: 100%;
    margin-bottom: -2px;
}
.slider3 img {
    width: auto;
    height: auto;
    justify-content: center;
}
.slidertext2 {
    position: absolute;
    top: 28.3%;
    left: 14.7%;
    right: 10%;

}
.slider .slider1:nth-child(5) .slidertext2{
    top: 27.3%;
    left: 15.7%;
}
.slider .slider1:nth-child(6) .slidertext2{
    top: 28.3%;
    left: 16.7%;
}
.sl21{
    font-size: 33px;
    color: #bd2631;
    line-height: 3em;
    letter-spacing: -1.1px;
}
.sl23 {
    font-size: 14px;
    color: #ffffff;
    line-height: 2em;
}

/*   INFOBAR   */
.infobar {
    position: relative;
    background: white;

}
.infoblock {
    display: inline-block;
    width:33.33333333333333%;
    box-sizing: border-box;
    float: left;
    text-align: center;
    height: 33em;
}
.infobar .infoblock img {
    margin: 50px 0 0 0;
}
.infobar .infoblock h2 {
    margin: 46px 0 0 0;
}
.infobar .infoblock p {
    padding: 31px 40px;
}

/*.infobar .infoblock:nth-child(1) img  {*/
    /*margin: 10% 0 1% 17%;*/
/*}*/
/*.infobar .infoblock:nth-child(2) img  {*/
     /*margin: 14% 0 0 11%;*/
 /*}*/
/*.infobar .infoblock:nth-child(3) img  {*/
     /*margin: 11.5% 7% 0 0;*/
 /*}*/
/*.infobar .infoblock:nth-child(1) h2  {*/
    /*margin: 10% 0 0 14%;*/
/*}*/
/*.infobar .infoblock:nth-child(2) h2  {*/
     /*margin: 7% 0 0 11%;*/
 /*}*/
/*.infobar .infoblock:nth-child(3) h2  {*/
     /*margin: 9.5% 7.7% 0 0;*/
 /*}*/
/*.infobar .infoblock:nth-child(1) p  {*/
    /*padding: 6% 0 0 12%;*/
/*}*/
/*.infobar .infoblock:nth-child(2) p  {*/
    /*padding: 6.5% 2% 0 11%;*/
 /*}*/
/*.infobar .infoblock:nth-child(3) p  {*/
    /*padding: 6.6% 13% 0 4.5%;*/
 /*}*/

.infoblock h2 {
    color: #bd2631;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 36px;
    line-height: 0px;

}
.infoblock  p {
    color: #000;
    font-size: 18px;
    line-height: 30px;
}
.infoblock img {
    max-width: 100%;
}

/*  CRITICAL POWER APPLICATION*/
.power-application {
    position: relative;
    width: 100%;
    height: 195px;
    background: #000 url("../img/Car-USP.png") no-repeat top right ;
}
.upslogo {
    position: absolute;
    top: 27.2%;
    left: 23.2%;
}
.power-application-text {
    position: absolute;
    top: 39%;
    left: 47.5%;
}
.power-application-text p{
    color: #ffffff;
    font-size: 36px;
}
.power-application img {
    width: 100%;
    margin-bottom: -7px;
}

/*  WE-SERVE  */
.we-serve {
    position: relative;
    max-width: 100%;
    margin-top: -2px;
}
.we-serve .wsimage .wstext {
    display: none;
}
.wsimage img {
    float: left;
    width: 20%;
    box-sizing: border-box;
}
.wstext {
    box-sizing: border-box;
    background: #bd2631;
    color: white;
    text-align: center;
    padding: 1.65% 0;
    float: left;
    width: 20%;
    font-weight: bold;
    font-size: 18px;
}


/*  PARTNER-LOGO  */

.partner-logo {
    box-sizing: border-box;
    background: white;
    float: left;
    width: 100%;
    padding: 2.95% 0 2.8% 11.8%;
}
.logo-img {
    display: inline-block;
    float: left;
}
.partner-logo .logo-img:nth-child(1) {
    margin: 2% 5% 2% 2%;
}
.partner-logo .logo-img:nth-child(2) {
     margin: 2% 5.7% 2% 2%;
 }
.partner-logo .logo-img:nth-child(3) {
      margin: 2% 3.3% 2% 2%;
  }
.partner-logo .logo-img:nth-child(4) {
       margin: 2% 2.9% 2% 2%;
   }
.partner-logo .logo-img:nth-child(5) {
        margin: 2% 2% 2% 2%;
}
 /*  FOOTER  */
.footer {
}
.realfactory-wrapper {
    max-width: 100%;
    background: #242424;
    box-sizing: border-box;
}
.realfactory-container {
    float: left;
    margin: 63px 0 42px 27px;
    padding-left: 8.6%;
}
.realfactory-container h3 {
    font-size: 18px;
    white-space: nowrap;
    color: #bd2631;
    text-transform: uppercase;
    letter-spacing: -0.5px;
    margin-bottom: 25px;
}
.realfactory-container p {
    font-size: 12px;
    color: white;
    line-height: 16px;
    margin-bottom: 16px;
}
.realfactory-container span {
    color: #bd2631;
}
.column1 {
    float: left;
    border-right: 2px solid #353535;
    max-width: 22%;
    height: 100%;
    box-sizing: border-box;
    padding: 0 23px 0 24px;
}
.column2 {
    float: left;
    border-right: 2px solid #353535;
    max-width: 22%;
    height: 100%;
    box-sizing: border-box;
    padding: 0 0 0 2.8%;
}
.column3 {
    float: left;
    border-right: 2px solid #353535;
    max-width: 23.8%;
    height: 100%;
    box-sizing: border-box;
    padding: 0 2% 0 4.2%;
}
.column4 {
    float: left;
    max-width: 24%;
    height: 100%;
    box-sizing: border-box;
    padding: 0 0 0 3.2%;
    border: none;
}
.column3 .days-ago {
    color: white;
    text-indent: 5px;
}
.column3 p {
    line-height: 16px;
    margin-bottom: 32px;
    padding-top: 2px;
}
.column3 p:nth-child(2){
    padding-top: 2px;
}
/*  COPYRIGHT  */
.copyright {
    background: #131313;
    color: white;
    font-size: 12px;
    padding: 2.55% 12.1% 2% 8.2%;
}
.copyright-data {
    float: left;
    margin-left: 5%;
}
.developed {
    float: right;
}

/* ------------------  RESPONSIVE   ---------------------*/

@media screen and (max-width: 1200px){
    .contacts-information {
        padding: 10px 90px 15px 90px;
    }
    .navigation {
        padding: 0 90px;
    }
    .re_text1 {
        font-size: 2em;
    }
    .re_text2 {
        font-size: 1.35em;
    }
    .realfactory-container {
        padding-left: 7%;
    }
    .power-application-text {
        left: 58%;
    }
}
@media screen and (max-width: 1060px){
    .contacts-information {
        padding: 10px 30px 15px 30px;
    }
    .logo,
    .static-info{
        float: none;
    }
    .logo-section{
        text-align: center;
    }
    .navigation {
        padding: 0 70px;
    }
    .infobar .infoblock p {
        padding: 31px 5px;
    }
}

@media screen and (max-width: 995px){
    .block{
        padding-right: 40px;
        padding-left: 40px;
    }
    .navigation {
        padding: 0 60px;
    }
    nav li a{
        font-size: 13px;
        padding: 19px 12px 16px;
    }
    .slidertext2 {
        top: 5%;
        left: 8%;
    }.slider .slider1:nth-child(5) .slidertext2{
         top: 5%;
         left: 8%;
     }
    .slider .slider1:nth-child(6) .slidertext2{
        top: 5%;
        left: 8%;
    }

    .request_text{
        margin-left: 1%;
    }
    .request button {
        margin-right: 1%;
    }
    .re_text1 {
        font-size: 1.7em;
    }
    .re_text2 {
        font-size: 1.1em;
    }
    .slidertext {
        top: 40%;
    }
    .sl1 {
        font-size: 28px;
    }

    .sl2 {
        font-size: 35px;
    }

    .sl3 {
        font-size: 19px;
    }
    .realfactory-container {
        padding-left: 1%;
    }
    .power-application-text {
        top: 45%;
        left: 60%
    }
    .power-application-text p{
        font-size: 25px;
    }
    .realfactory-container h3 {
        white-space: normal;
    }
    .column1, .column2, .column3, .column4 {
        margin:0 1%;
        max-width: 22%;
    }
    .wstext {
        font-size: 0.9em;
    }
    .copyright {
        padding: 1.5% 2% 1.5% 0;
    }
    .copyright-data {
        margin-left: 2%;
    }
}
@media screen and (max-width: 935px) {
    div.phone,
    div.address {
        display: block;
        margin: 10px 0;
    }

    .mobile-menu {
        display: block;
    }
}
@media screen and (max-width: 760px){
    div.phone,
    div.address {
        display: block;
        margin: 10px 0;
    }

    .mobile-menu {
        display: block;
    }

    #menu li {
        display: block;
        padding: 10px 0;
        border-bottom: 1px solid #e6e6e6;
    }

    #menu li a,
    #menu li a:hover {
        border-bottom: none;
    }

    #menu li a {
        padding: 0;
    }

    #menu li:last-of-type {
        border-bottom: none;
    }

    .navigation-menu {
        display: none;
    }
    .logo-section {
        padding: 29px 10px;
    }
    .navigation {
        padding-left: 1%;
        padding-right: 1%;
    }
    nav li a {
        font-size: 10px;
        margin: 0px 0px 0px 16px;
        border-bottom: hidden;
    }
    nav li a:hover{
        border-bottom: hidden;
    }
    .search {
        float: right;
        margin-left: 2%;
        margin-right: 8%;
        line-height: 3;
    }
    .bars {
        display: block;
    }
    .request_text {
        float: none;
        text-align: center;
    }
    .button {
        float: none;
        margin-left: 37%;
    }
    .s122 {
        font-size: 22px;
        line-height: 2em;
    }
    .s124 {
        font-size: 15px;
    }
    .infoblock {
        float: none;
        width: 100%;
    }
    .infobar .infoblock p {
        padding: 31px 15%;
    }
    .slidertext2 {
        top: 15%;
    }
    .upslogo {
        left: 1%;
    }
    .power-application-text {
        left: 45%;
    }
    .wstext {
         font-size: 0.75em;
     }
    .copyright-data {
        clear: left;
        margin-left: 20%;
    }
    .developed {
        float: left;
        margin-left: 30%;
    }
}
@media screen and (max-width: 700px) {
    .slidertext {
        line-height: 2.8em;
    }
    .slider :nth-child(3) {
        display: inline-block;
    }

    .slider :nth-child(4) {
        margin-top: -8px;
    }

    .slider :nth-child(5) {
        display: none;
    }

    .slider1 {
        float: none;
        width: 100%;
    }

    /*.infobar .infoblock img {*/
        /*margin: 1px 1px;*/
    /*}.infobar .infoblock h2 {*/
        /*margin: 0 0;*/
     /*}*/
    /*.infobar .infoblock p {*/
        /*margin: 0 0;*/
    /*}*/

    .wstext {
        font-size: 0.65em;
    }
    .sl1 {
        font-size: 25px;
    }

    .sl2 {
        font-size: 26px;
    }

    .sl3 {
        font-size: 12px;
    }
    .realfactory-container {
        padding-left: 1%;
    }
    .realfactory-container h3 {
        white-space: normal;
    }
    .column2 {
        border: none;
    }
    .column3 {
        clear: left;
    }
    .column4 {
        float: left;
    }
    .column1, .column2, .column3, .column4 {
        margin: 3% 1%;
        max-width: 48%;
    }
}
@media screen and (max-width: 650px){
    .power-application-text {
        left: 70%;
    }
    .power-application-text p {
        font-size: 16px;
    }
}

@media screen and (max-width: 570px){
    .static-info {
        margin-right: 15px;
    }
    .static-info ul li{
        display: block;
        padding-right: 0;
        margin: 10px 0 10px 20px;
        border: none;
        width: 160px;
        text-align: left;
    }
    .static-info ul li:last-of-type {
        margin-left: 20px;
    }
    .slidertext {
        top: 43%;
        line-height: 2.3em;
    }
    .sl1 {
        font-size: 18px;
    }
    .sl2 {
        font-size: 18px;
    }
    .sl3 {
        font-size: 10px;
    }
    .re_text1 {
        font-size: 1.4em;
    }
    .re_text2 {
        font-size: 0.9em;
    }
    .secondserve {
        display: none;
    }
    .we-serve {
        background: #bd2631;
    }
    .wsimage {
        display: block;
        padding: 0 25%;
    }
    .wsimage img {
        width: 100%;
    }
    .wstext {
        font-size: 1.6em;
        width: 100%;
        padding: 3% 0;
    }
    .we-serve .wsimage  {
        display: block;
    }
    .we-serve .wsimage .wstext {
        float: none;
        display: block;
    }
    .copyright {
        line-height: 2em;
    }
    .copyright-data {
        margin-left: 15%;
    }
    .developed {
        margin-left: 27%;
    }
}
@media screen and (max-width: 518px) {
    .social-icons {
        float: left;
    }
}
@media screen and (max-width: 515px){
    .developed {
        margin-left: 15%;
        margin-top: 4%;
    }
    .re_text2 {
    white-space: normal;
    }
}
@media screen and (max-width: 440px){
    .contacts-information > div {
        float: none;
    }
    .social-icons ul li {
         margin: 0 20px 0 0;
    }
    .logo img{
        width: 100%;
        height: auto;
    }
    .request button {
        margin-left: 35%;
    }
    .slidertext {
        line-height: 1.8em;
    }
    .power-application-text {
        left: 5%;
        top: 85%;
    }
    /*.re_text1 {*/
        /*font-size: 15px;*/
    /*}*/
    /*.re_text2 {*/
        /*font-size: 13px;*/
    /*}*/
    /*.request button {*/
        /*margin-right: 35%;*/
    /*}*/
}
@media screen and (max-width: 390px) {
    .block {
        padding-right: 20px;
        padding-left: 20px;
    }
    .sl1 {
        font-size: 15px;
    }
    .sl2 {
        font-size: 15px;
    }
    .sl3 {
        font-size: 9px;
    }
    .s122 {
        font-size: 16px;
        line-height: 1.5em;
    }
    .s124 {
        font-size: 14px;
    }
    .slidertext2 {
        top: 12%;
    }.wsimage {
         padding: 0 15%;
     }
    .copyright-data {
        margin-left: 10%;
    }
    .developed {
        margin-left: 10%;
    }
}
